/* General Styles */
body {
    font-family: 'Lato', 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* Header Styles */
header {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 30px; /* Increased padding for better spacing */
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    padding: 20px; /* Increased padding for better spacing */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Kanda Styles */
section {
    margin: 40px; /* Further increased margin for better separation */
}

h2 {
    color: #007bff;
    font-family: 'Raleway', sans-serif;
}

article {
    margin: 20px 0; /* Further adjusted margin for better spacing */
}
